@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.back-image {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png");
    background-size: cover;
    height: 100vh;
}

.card-container {
    background-color: #000000e6;
    padding: 20px;
    border-radius: 15px;
    margin: 30px;

}

.royal-hotel {
    font-family: "Bree Serif";
    color: #ffffff;
    font-size: 25px;
}

.paragraph {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;

}

.rate {
    font-family: "Bree Serif";
    color: #ffffff;
    font-size: 20px;
}

.button-container {
    text-align: center;
    margin: 30px;
}

.button {
    border-radius: 10px;
    border-width: 0px;
    width: 100px;
    font-weight: 500;
    font-size: 12px;
    font-family: "Roboto";
    padding: 5px 10px;


}